.divPokeRender{
    width: 45%;
}

.rowStat{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.pokeImg{
    width: 100%;
    max-height:300px ;
    
}

.divPokeImg{
    width: 25%;
    object-fit: cover;
}

.pokeForm{
    width: 500px;
}